.solutions {
    min-height: 970px;
    background: url('../img/solutions-bg.jpg') no-repeat 50%/cover;
    &__tabs {
        max-width: 840px;
        min-height: 62px;
        margin: 0 auto;
        border: 1px #fff solid;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, auto));
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(6,  minmax(100px, auto));
        margin-top: 30px;
        align-content: center;
    }
    &__tab {
        position: relative;
        font-size: 14px;
        line-height: 1.85;
        color: #fff;
        font-weight: 400;
        list-style-type: none;
        text-align: center;
        cursor: pointer;
        transition: all .2s linear;
        &_active {
            border-radius: 10px;
            box-shadow: -2px 4px 20px $hover-color;
        }
        &:hover {
            color: $hover-color;
        }
        &:before {
            content: "";
            position: absolute;
            display: block;
            top: -12px;
            right: 0;
            height: 49px;
            border: 1px #8e908d solid;
        }
        &:last-child:before {
            display: none;
        }
    }
    &__item {
        position: relative;
        border-radius: 5px;
        width: 450px;
        margin: 0 auto;
        margin-top: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -100px;
        border: none;
        background-color: transparent;
        img {
            width: 40px;
            height: 60px;
        }
    }
    .slick-next {
        right: -100px;
        left: auto;
    }

    .slick-dots{
        display: flex;
        padding: 20px 0 20px 0;
        align-items: center;
        justify-content: center;
        li {
            list-style: none;
            margin: 0px 10px;
        }
        button{
            font-size: 0;
            background: #072859;
            border: none; 
            border-radius: 50%; 
            height: 20px; 
            width: 20px; 
            margin: 5px;
        }
        li.slick-active button{
            background-color: transparent;
            border: 1px solid $hover-color;
        }  
    }
}
