@mixin button {
    min-width: 241px;
    min-height: 60px;
    padding: 15px;
    background-color: #00c2f0;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    line-height: 1.9;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .2s linear;
    &:hover {
        background-color: rgba(0, 194, 240, .7);
    }
}