@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import 'libs/animate';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import 'base/variables';
@import 'base/mixins';

*, ul {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/countries';
@import 'blocks/promo/promo';
@import 'blocks/benefits/benefits';
@import 'blocks/solutions/solutions';
@import 'blocks/industry/industry';
@import 'blocks/data/data';
@import 'blocks/start-work/start-work';


@import 'blocks/promo/promo-media';
@import 'blocks/benefits/benefits-media';
@import 'blocks/solutions/media-solutins';
@import 'blocks/industry/industry-media';
@import 'blocks/data/data-media';
@import 'blocks/start-work/start-work-media';