.countries {
    min-height: 85px;
    padding: 20px 0 20px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__items {
        display: flex;
    }
    &__icon {
        max-width: 28px;
        max-height: 21px;
        margin-top: 3px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    &__name {
        font-size: 14px;
        font-weight: 700;
        color: #242424;
        line-height: 18px;
    }
    &__tel, &__email, &__addr {
        font-size: 12px;
        font-weight: 300;
        color: #242424;
        line-height: 18px;
        margin-bottom: 0;
        text-decoration: none;  
    }
    &__tel, &__email {
        &:hover {
            text-decoration: underline;
        }
    }
}
